<%= form_for(@coaching) do |f| %>
  <% if @coaching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coaching.errors.count, "error") %> prohibited this coaching from being saved:</h2>

      <ul>
      <% @coaching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trainer_id %><br />
    <%= f.number_field :trainer_id %>
  </div>
  <div class="field">
    <%= f.label :training_id %><br />
    <%= f.number_field :training_id %>
  </div>
  <div class="field">
    <%= f.label :coaching_date %><br />
    <%= f.datetime_select :coaching_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
