<h1>Listing coachings</h1>

<table>
  <tr>
    <th>Trainer</th>
    <th>Training</th>
    <th>Coaching date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coachings.each do |coaching| %>
  <tr>
    <td><%= coaching.trainer_id %></td>
    <td><%= coaching.training_id %></td>
    <td><%= coaching.coaching_date %></td>
    <td><%= link_to 'Show', coaching %></td>
    <td><%= link_to 'Edit', edit_coaching_path(coaching) %></td>
    <td><%= link_to 'Destroy', coaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coaching', new_coaching_path %>
