<p id="notice"><%= notice %></p>

<p>
  <b>Trainer:</b>
  <%= @coaching.trainer_id %>
</p>

<p>
  <b>Training:</b>
  <%= @coaching.training_id %>
</p>

<p>
  <b>Coaching date:</b>
  <%= @coaching.coaching_date %>
</p>


<%= link_to 'Edit', edit_coaching_path(@coaching) %> |
<%= link_to 'Back', coachings_path %>
