<h1>Listing trainings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Online</th>
    <th>Price</th>
    <th>Category</th>
    <th>Town</th>
    <th>Company</th>
    <th>Trainer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trainings.each do |training| %>
  <tr>
    <td><%= training.name %></td>
    <td><%= training.date %></td>
    <td><%= training.online %></td>
    <td><%= training.price %></td>
    <td><%= training.category_id %></td>
    <td><%= training.town_id %></td>
    <td><%= training.company_id %></td>
    <td><%= training.trainer_id %></td>
    <td><%= link_to 'Show', training %></td>
    <td><%= link_to 'Edit', edit_training_path(training) %></td>
    <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Training', new_training_path %>
