<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @training.name %>
</p>

<p>
  <b>Date:</b>
  <%= @training.date %>
</p>

<p>
  <b>Online:</b>
  <%= @training.online %>
</p>

<p>
  <b>Price:</b>
  <%= @training.price %>
</p>

<p>
  <b>Category:</b>
  <%= @training.category_id %>
</p>

<p>
  <b>Town:</b>
  <%= @training.town_id %>
</p>

<p>
  <b>Company:</b>
  <%= @training.company_id %>
</p>

<p>
  <b>Trainer:</b>
  <%= @training.trainer_id %>
</p>


<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
