<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @company.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Office address:</b>
  <%= @company.office_address %>
</p>

<p>
  <b>Contact person:</b>
  <%= @company.contact_person %>
</p>

<p>
  <b>Client:</b>
  <%= @company.client_id %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
