<h1>Listing deals</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Client</th>
    <th>Deal date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.company_id %></td>
    <td><%= deal.client_id %></td>
    <td><%= deal.deal_date %></td>
    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deal', new_deal_path %>
