<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @deal.company_id %>
</p>

<p>
  <b>Client:</b>
  <%= @deal.client_id %>
</p>

<p>
  <b>Deal date:</b>
  <%= @deal.deal_date %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
