<h1>Listing trainers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Detail info</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trainers.each do |trainer| %>
  <tr>
    <td><%= trainer.name %></td>
    <td><%= trainer.telephone %></td>
    <td><%= trainer.email %></td>
    <td><%= trainer.detail_info %></td>
    <td><%= trainer.company_id %></td>
    <td><%= link_to 'Show', trainer %></td>
    <td><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
    <td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trainer', new_trainer_path %>
