<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trainer.name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @trainer.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @trainer.email %>
</p>

<p>
  <b>Detail info:</b>
  <%= @trainer.detail_info %>
</p>

<p>
  <b>Company:</b>
  <%= @trainer.company_id %>
</p>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
