<p id="notice"><%= notice %></p>

<p>
  <b>Town:</b>
  <%= @place.town_id %>
</p>

<p>
  <b>Training:</b>
  <%= @place.training_id %>
</p>

<p>
  <b>Place date:</b>
  <%= @place.place_date %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
