<!DOCTYPE html>
<html>
<head>
  <title>Study</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
      <div class="navbar-inner">
      <a class="brand" href="#">SITE FOR TRAINING</a>
      <ul class="nav">
        <li class="divider-vertical"></li>
        <li class="active">
          <a href="http://localhost:3000/trainings">Trainings</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="http://localhost:3000/trainers">Trainers</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="http://localhost:3000/companies">Companies</a>
        </li>
        <li class="divider-vertical"></li>
      </ul>
      </div>
    </div>


<%= yield %>

</body>
</html>
